/* modalStyles.css */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
    z-index: 1000; /* Поверх всех элементов */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px; /* Максимальная ширина модального окна */
    width: 100%; /* Ширина 100% для мобильных устройств */
  }
  
  h3 {
    color: #000; /* Цвет заголовка */
    margin-bottom: 15px;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px; /* Отступ между полем и кнопкой */
  }
  
  button {
    background-color: #ff7f50; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Кнопка на всю ширину */
    transition: background-color 0.3s; /* Эффект наведения */
  }
  
  button:hover {
    background-color: darkorange; /* Цвет при наведении */
  }
  